<div class="span8">
<h1>编辑文章</h1>
<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render "field", :f => f %>
  <p>
  <%= f.submit "发表更新", :class => "btn btn-primary" %>
  </p>
<% end %>
</div>
