<% @posts.each do |post| %>
  <div class="span8">
    <h2>
      <%= link_to post.title, post %> 
    </h2>
    <h6><%= post.created_at.strftime("Posted on %Y-%m-%d") %></h6>
    <p></p>
    <p>
      <%= post.content %> 
    </p>
    <hr>
  </div>
<% end %>
