.span1 &nbsp;
.span3
  .well.sidebar-nav
    %h3 Sidebar
    %ul.nav.nav-list
      %li.nav-header Siderbar
      %li= link_to "Link1", "/path1"
      %li= link_to "Link2", "/path2"
      %li= link_to "Link3", "/path3"
